<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-8 col-sm-15">
            <div class="card mt-5 bg-light">
              <div class="card-header text-center">
                DATAR REQUEST 
              </div>
              <div class="card-body">
                <table id="myTable" class="table table-responsive table-bordered table-striped table-hover">
                    <thead>
                        <tr style="text-align:center;">
                            <th>Nama</th>
                            <th>No Telepon Pendaftar</th>
                            <th>No Telepon Penerima</th>
                            <th>Pendidikan</th>
                            <th>Nilai</th>
                            <th>Status Nilai</th>
                            <th>Status PKL</th>
                            <th>Generasi Siswa</th>
                            <th>Status Penerimaan</th>
                            <th>Tanggal Daftar</th>
                            <th>Tanggal Mulai</th>
                            <th>Tanggal Selesai</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <table id="myTable" class="table table-responsive table-bordered table-striped table-hover">
                        <thead>
                            <tr style="text-align:center;">
                                <th>Nama</th>
                                <th>No Telepon Pendaftar</th>
                                <th>No Telepon Penerima</th>
                                <th>Pendidikan</th>
                                <th>Nilai</th>
                                <th>Status Nilai</th>
                                <th>Status PKL</th>
                                <th>Generasi Siswa</th>
                                <th>Status Penerimaan</th>
                                <th>Tanggal Daftar</th>
                                <th>Tanggal Mulai</th>
                                <th>Tanggal Selesai</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php $x = 0;
                            foreach ($semua_user_pkl as $list => $data_semua_user_pkl) { ?>
                                <tr>
                                    <td>ka</td>
                             
                                </tr>
                        </tbody>
                    </table>   
              </div>
            </div>
          </div>
        </div>
    </div>
</body>
</html>