<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- BOOTSRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- END -->

    <!-- BOOTSTRAP ICON -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <!-- END -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>BIONA DATA</title>
</head>
<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light bg-light shadow">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: #76b852;">
        <img src="{{ url_for('static', filename='img/icon.jpg') }}" alt="Logo" width="100 px"  class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" z>
          
        </ul>
        {% if 'user_id' in session %}
        <button class="btn" onclick="confirmLogout()" style="background-color: #76b852; color: white;">Logout</button>
        {% else %}
        <a href="{{ url_for('login') }}" class="btn" style="background-color: #76b852; color: white;" >Login | Register</a>
        {% endif %}
      </div>
    </div>
  </nav>  
  <!-- END -->
  
    <!-- CARD-1 -->
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8 col-md-8 col-sm-15">
            <div class="card mt-5 bg-light">
              <div class="card-header text-center">
                HASIL PEMBUANGAN 
              </div>
              <div class="card-body">
                <form method="post" action="/konversi_rupiah">
                  <input type="hidden" name="nominal" id="nominal" value="{{ val }}">
                  <div class="mb-3">
                      <label for="rupiah" class="form-label">Konversi Rupiah</label>
                      <input type="text" class="form-control"  value="Rp {{ '{:,.2f}'.format( val ) }}">
                  </div>
                  <button type="submit" style="background-color: #76b852; color: white;" class="btn mt-3 w-100">Simpan Saldo</button>
              </form>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- END -->
    
  
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='allert.js') }}"></script>
    <script>
        function endSession() {
            fetch('/end_session')
            .then(response => {
                window.location.href = '/';
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>

<script>
    function endSession() {
        Swal.fire({
            title: 'Anda yakin ingin mengakhiri sesi?',
            text: 'Anda akan keluar dari sesi dan status pemindaian akan dihapus.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Ya, akhiri sesi',
            cancelButtonText: 'Batal'
        }).then((result) => {
            if (result.isConfirmed) {
                    fetch('/end_session')
                    .then(response => response.json())
                    .then(data => {
                        if (data.message === "Session ended") {
                            Swal.fire(
                                'Sesi Berakhir!',
                                'Sesi Anda telah diakhiri.',
                                'success'
                            ).then(() => {
                                window.location.href = '/';
                            });
                        } else {
                            Swal.fire(
                                'Sesi Gagal Diakhiri!',
                                'Tidak ada sesi yang aktif untuk diakhiri.',
                                'error'
                            );
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }
        });
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</body>
</html>
