<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- BOOTSRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- END -->

    <!-- BOOTSTRAP ICON -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <!-- END -->

    <title>BIONA</title>

    <style>
      label {
    width: 100%;
}

.hover-shadow-element {
    display: none;
}

.badge {
  font-size: 20px;
  right: 15px;
  border-radius: 50px;
  background-color: rgb(254, 162, 50);
  position: absolute;
  padding: 3px;
}

.panel-body {
  display: flex;
  margin-right: 100px;
}

.hover-shadow {
    margin: 10px;
    background: #E9ECEF ;
    border-radius: 15px;
}

.hover-shadow .harga {
  display: none
}

[type=radio]+.hover-shadow {
  cursor: pointer;
}

.hover-shadow-element:checked + .hover-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fffffff6;
 }

 .hover-shadow-element:checked + .hover-shadow .harga {
  display: initial;
  margin: 10px;
 }

 .cursor-pointer{
  cursor: pointer;
}

    </style>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light bg-light shadow">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: #76b852;">
          <img src="{{ url_for('static', filename='img/icon.jpg') }}" alt="Logo" width="100 px"  class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" z>
            <li class="nav-item" >
              <a class="nav-link active" aria-current="page" href="#" style="color: #76b852;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: #76b852;">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #76b852;">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" style="color: #76b852;">Action</a></li>
              </ul>
            </li>
          </ul>
          {% if 'user_id' in session %}
          <button class="btn" onclick="confirmLogout()" style="background-color: #76b852; color: white;">Logout</button>
          {% else %}
          <a href="{{ url_for('login') }}" class="btn" style="background-color: #76b852; color: white;" >Login | Register</a>
          {% endif %}
        </div>
      </div>
    </nav>  
    <!-- END -->

    <!-- CARD-1 -->
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-8 col-sm-15">
            <div class="card mt-5" style="background-color: #76b852;  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5); ">
              <div class="card-body">
                <div class="row">
                    <!-- CARD 2 -->
                    <div class="col-lg-8 col-md-7 col-sm-15">
                      <div class="card" style="box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);">
                        <div class="card-body">
                          <h5 class="text-body-secondary">Hi, {{ session['username'] }}!</h6>
                          <h6 class="card-title">Total Saldo :</h6>
                          <h6 class="card-subtitle mb-2" style="color: orange;">Rp {{ '{:,.2f}'.format(saldo) }}</h6>
                        </div>
                      </div>
                    </div>
                    <!-- END -->
        
                    <!-- Button samping card 2 -->
                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                        
                        <a href="{{ url_for('scan') }}" class="btn btn-light mt-4" style="box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);">
                            <div class="d-flex align-items-center">
                              <i class="bi bi-qr-code-scan" style="color: #76b852; "></i>
                              <br>
                              <h6 class="ml-1 mb-0 text-right" style=" margin-left: 5px;">Scan</h6>
                            </div>
                        </a>

                        <button id="tukar-saldo-button" class="btn btn-light mt-4" style="box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);">
                            <div class="d-flex align-items-center">
                              <i class="bi bi-cash" style="color: #76b852; "></i>
                              <br>
                            
                              <h6 class="ml-1 mb-0 text-right" style=" margin-left: 5px;">Tukar</h6>
                            </div>
                        </button>
                    </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- END -->

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col col-lg-8 col-md-8 col-sm-8">
              <button class="btn btn-succsess" id="toggleButton">Panduan</button>
              <p class="mt-3 d-none" id="hiddenText">1. Berangkat</p>
              <p class="mt-3 d-none" id="hiddenText">2. Tidur</p>
              <p class="mt-3 d-none" id="hiddenText">3. Sic</p>
            </div>
        </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="metodePembayaranModal" tabindex="-1" aria-labelledby="metodePembayaranModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="metodePembayaranModalLabel">Pilih Payment Pembayaran</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <label>
            <input type="radio" type="radio" name="metode-pembayaran" id="gopayRadio" value="gopay"
            class=" hover-shadow-element">
            <div class="card hover-shadow cursor" style="max-width: 100%;">
                <span class="badge check harga">
                  <i class="bi bi-check-lg"></i>
                </span>
                <img src="{{ url_for('static', filename='img/gopay.png') }}" alt="" style="padding: 10px;"
                    width="150px">
                <hr>
                <p class="harga">Pembayaran Dengan <strong>Gopay</strong> </p>
            </div>
          </label>
          <label>
            <input type="radio" type="radio"name="metode-pembayaran" id="bcaRadio" value="bca"
            class=" hover-shadow-element">
            <div class="card hover-shadow cursor" style="max-width: 100%;">
                <span class="badge check harga">
                  <i class="bi bi-check-lg"></i>
                </span>
                <img src="{{ url_for('static', filename='img/bca.png') }}" alt="" style="padding: 10px;"
                    width="150px">
                <hr>
                <p class="harga">Pembayaran Dengan <strong>BCA</strong> </p>
            </div>
          </label>
          <label>
            <input type="radio" type="radio" name="metode-pembayaran" id="mandiriRadio" value="mandiri"
            class=" hover-shadow-element">
            <div class="card hover-shadow cursor" style="max-width: 100%;">
                <span class="badge check harga">
                  <i class="bi bi-check-lg"></i>
                </span>
                <img src="{{ url_for('static', filename='img/MANDIRI.png') }}" alt="" style="padding: 10px;"
                    width="150px">
                <hr>
                <p class="harga">Pembayaran Dengan <strong>Mandiri</strong> </p>
            </div>
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
        <button type="button" class="btn btn-primary" id="konfirmasi-button">Konfirmasi</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='allert.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
    <script>
      const toggleButton = document.getElementById('toggleButton');
      const hiddenText = document.getElementById('hiddenText');

      toggleButton.addEventListener('click', () => {
          hiddenText.classList.toggle('d-none');
      });
  </script>

<script>
  $(document).ready(function() {
    $("#tukar-saldo-button").click(function() {
      $("#metodePembayaranModal").modal("show");
    });

    $("#konfirmasi-button").click(function() {
      const selectedMethod = $("input[name='metode-pembayaran']:checked").val();
      if (selectedMethod) {
        // Mengarahkan pengguna ke tukar_saldo.html dengan parameter sesuai metode pembayaran yang dipilih
        window.location.href = `tukar_saldo?payment=${selectedMethod}`;
      } else {
        alert("Silakan pilih metode pembayaran.");
      }
    });
  });
</script>

  
 </body>
</html>
